{%extends "base.html"%}

{%block content%}
<div class="container">
    <div class="container mt-5 mb-5">
        <ol class="breadcrumb  mt-1 mb-4">
            <li class="breadcrumb-item">
                <a href="{% url 'todo:list' %}">Todoリスト</a>
            </li>
            <li class="breadcrumb-item active">削除</li>
        </ol>
    <h3 class="text-center mt-5 mb-5">「{{object.title}}」を削除してもよろしいですか？</h3>
    <div class="form-group row justify-content-center">
        <div class="mr-3">    
        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="　 削除 　">

        </form></div>
        <div class="ml-3">
        <a class="btn btn-secondary" href="{%url "todo:list" %}">キャンセル</a></div>
    </div>
</div>
{%endblock content%}