{% extends "base.html"%}
{% load bootstrap %}
{%block content %}
<div class="container">
    <div class="container mt-5 mb-5">
        <ol class="breadcrumb  mt-1 mb-4">
            <li class="breadcrumb-item">
                <a href="{% url 'list' %}">Todoリスト</a>
            </li>
            <li class="breadcrumb-item active">編集</li>
        </ol>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|bootstrap}}
            <input type="submit" value="更新する" class="btn btn-primary mt-4 btn-lg">
        </form>
    </div>
</div>
{%endblock content %}